<form (ngSubmit)='submitQuote(quoteForm)' #quoteForm='ngForm'>
  <div class="form-group">
    <label for="quote">Quote</label>
    <textarea id="quote" class="form-control" cols="30" rows="10" [(ngModel)]="newQuoteForm.quote" name="quote" #quote="ngModel" required></textarea>
  </div>
  <div class="form-group">
    <label for="author">Author</label>
    <input type="text" class="form-control" id="author" name="author" [(ngModel)]="newQuoteForm.author" #author="ngModel" required>
  </div>
  <button type="submit" class="btn btn-primary">Add Quote</button>
</form>
