<div class="jumbotron">
  <h2>Quotes</h2>
</div>
<div class="container">
  <div class="row form-side">
    <div class="col-md-6">
      <app-quotes-form (addNewQuote)='addQuote($event)'></app-quotes-form>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-md-12">
      <h3>Quotes</h3>
    </div>
    <div class="col-md-4" *ngFor="let quoteID of newQuotes; let i = index">
      <h5 id="{{i}}">{{quoteID.txtQuote}}</h5>
      <p id="{{i}}">{{quoteID.date|dateCount}} days ago</p>
      <button class="btn btn-link" (click)="detailsToggle(i)">Details</button>
      <button class="btn" (click)="addVotes(i)">Up Vote</button>
      <button class="btn" (click)="minusVotes(i)">Down Vote</button>
      <app-quotes-details *ngIf="quoteID.showDetails" [quotes]='quoteID'></app-quotes-details>
    </div>
  </div>
</div>
