<div class="jumbotron">
  <h2>Quotes</h2>
</div>
<div class="container">
  <div class="row">
    <div class="col-md-6">
        <!-- <a class="btn btn-primary" href="#input-details" data-toggle="modal">Add Button</a> -->
      <app-quotes-form (addNewQuote)='addQuote($event)'></app-quotes-form>
    </div>
    <div class="col-md-6">
      <h3>Quotes</h3>

      <ol>
        <div *ngFor="let quoteID of newQuotes; let i = index">
          <h5 id="{{i}}">{{quoteID.txtQuote}}</h5>
          <button class="btn btn-link" (click)="detailsToggle(i)">Details</button>
          <app-quotes-details *ngIf="quoteID.showDetails" [quotes]='quoteID'></app-quotes-details>
        </div>
      </ol>

    </div>
  </div>
</div>


<!-- <div class="modal fade" id="input-details" role="dialog">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h4 class="modal-title">Enter Details below</h4>
      </div>
      <div class="modal-body">
      </div>
      <div class="modal-footer">
        <button class="btn btn-danger" type="button" data-dismiss="modal">Close</button>
      </div>
    </div>
  </div>
</div> -->
